<header id="top-header">
    <span class="siteName">
        <a href="/" title="Return to Home Page">CSE Motors</a>
    </span>
    <div class="corner tools">
        <%- locals.loginTools %>
    </div>
</header>

