<h1>Welcome to CSE Motors!</h1>
<section id="front-splash">
    <div id="front-splash-box">
        <h2>DMC Delorean</h2>
        <p>3 Cupholders</p>
        <p>Superman Doors</p>
        <p>Fuzzy Dice!</p>
        <button id="front-splash-btn">Own Today</button>
    </div>
    <img id="front-splash-img" src="./images/vehicles/delorean.jpg" alt="Delorean Car">
</section>

<section id="content">
    <section id="reviews">
        <h1 class="content-header">DMC Delorean Reviews</h1>
        <ul>
            <li>"So fast it's almost like traveling in time." 4/5</li>
            <li>"Coolest ride on the road." 4/5</li>
            <li>"I'm feeling McFly!" 5/5</li>
            <li>"The most futuristic ride of our day." 4.5/5</li>
            <li>"80's livin and I love it!" 5/5</li>
        </ul>
    </section>
    <section id="upgrades">
        <h1 class="content-header">Delorean Upgrades</h1>
        <section id="upgrades-flex">
            <div class="upgrade-card" id="flux-upgrade">
                <div class="upgrade-img">
                    <img id="flux-upgrade-img" src="./images/upgrades/flux-cap.png" alt="Flux Capacitor">
                </div>
                <h3 id="flux-upgrade-tag" class="upgrade-tag">Flux Capacitor</h3>
            </div>
            <div class="upgrade-card" id="flame-upgrade">
                <div class="upgrade-img">
                    <img id="flame-upgrade-img" src="./images/upgrades/flame.jpg" alt="Flame Decal">
                </div>
                <h3 id="flame-upgrade-tag" class="upgrade-tag">Flame Decals</h3>
            </div>
            <div class="upgrade-card" id="sticker-upgrade">
                <div class="upgrade-img">
                    <img id="sticker-upgrade-img" src="./images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                </div>
                <h3 id="sticker-upgrade-tag" class="upgrade-tag">Bumper Stickers</h3>
            </div>
            <div class="upgrade-card" id="hubcap-upgrade">
                <div class="upgrade-img">
                    <img id="hupbcap-upgrade-img" src="./images/upgrades/hub-cap.jpg" alt="Hubcap">
                </div>
                <h3 id="hubcap-upgrade-tag" class="upgrade-tag">Hubcaps</h3>
            </div>
        </section>
    </section>
</section>