/******* Change Box Model *******/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/********** Default CSS **********/
#wrapper {
  position:relative;
  margin: auto;
  padding: 1%;
}

.siteName * {
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

#tools * {
  position: absolute;
  top: 1%;
  right: 2%;
  text-decoration: none;
  color: black;
}

nav > ul {
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  background-color: black;
  list-style: none;
  justify-content: space-evenly;
}

nav > ul > li {
  width: 20%;
  height: 100%;
  text-align: center;
  border-radius: 1px;
  font-size: large;
}

nav > ul > li > a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px 0;
}

nav > ul > li:hover {
  background-color: skyblue;
}

nav > ul > li:hover > a {
  color: black;
  font-weight: bold;
}

#front-splash {
  width: 100%;
}

#front-splash-box {
  position: absolute;
  right: 60%;
  background-color: rgba(240, 248, 255, .5);
}

#front-splash-box > * {
  margin: 5px 5px;
  color:rgb(35, 106, 205);
  font-weight: bold;
  text-shadow: 1px 1px black;
}

#front-splash-btn {
  background-color:rgb(105, 176, 205);
  color: black;
  font-weight: bold;
  padding: 5px;
  position:relative;
  left: 18%;
  width: 60%;
  text-shadow: none;
}

#front-splash-img {
  display: block;
  margin: auto;
  max-width: 100%;
}

#reviews > ul {
  padding-left: 4%;
}

#reviews > ul > li {
  margin-bottom: 10px;
}

#upgrades-flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: stretch;
}

.upgrade-card {
  width: 40%;
  margin: 5px;
}

.upgrade-img {
  background-color: rgb(105, 176, 205);
  border: 2px solid grey;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.upgrade-tag {
  text-decoration: underline;
  color: blue;
  vertical-align: top;
  text-align: center;
  margin: 0;
}

#inv-display {
  list-style: none;
  padding: 0;
  margin: 0;
}

#inv-display > li {
  margin: 5px auto;
  max-width: 80%;
  border: 2px black solid;
  border-radius: 2%;
}

#inv-display > li > a {
  display: block;
  margin: auto;
}

#inv-display > li > a > img {
  display: block;
  margin: auto;
}

.name-price > hr {
  margin: auto;
  max-width: 80%;
}

h1 {
  text-align: center;
}

.name-price > h2 {
  margin: auto;
  text-align: center;
}

.name-price > h2 > a {
  text-decoration: none;
  color: black;
}

.name-price > span {
  display: block;
  margin: auto;
  text-align: center;
  font-weight: bold;
  letter-spacing: .1cap;
}

.name-price > .detail-span {
  margin: 5px auto;
}

.name-price > p {
  display: block;
  margin: 10px auto;
  max-width: 60%;
  font-size: 1.25em;
  text-align: justify;
}

.detail-img {
  display: block;
  margin: 20px auto;
  border: 3px solid skyblue;
  border-radius: 6px;
  max-width: 90%;
}

.notice {
  color: red;
  font-weight: bold;
  list-style: none;
  margin-left: 15%;
}

.notice > li {
  margin: 5px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-test {
  text-decoration: none;
  color: darkblue;
  display: inline;
}

.user-form-box {
  border: 2px solid darkblue;
  border-radius: 5px 5px;
  background-color: skyblue;
  width: 60%;
  margin: 0 auto 10% auto;
  text-align: center;
  padding: 2%;
}

.user-form {
  font-weight: bold;
  padding: 3% 10%;
}

.user-form > label > input {
  width: 80%;
  height: 1.8rem;
}

.pw-reqs {
  font-size: .8rem;
  color: darkblue;
}

.submit-cont > * {
  min-width: 15%;
  margin: auto;
  border: none;
  border-radius: 4px;
  background-color: #30308b;
  padding: 4px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  display: grid;
}

.submit-cont > a {
  padding: 5px;
  margin: 10px;
}

.submit-cont {
  text-align: center;
}

.input-text:invalid {
  border-left: 3px solid red;
}

.input-text:valid {
  border-left: 3px solid green;
}

@media only screen and (min-width: 600px) {
  body {
    background: url("../images/site/checkerboard.jpg");
  }

  #wrapper {
    max-width: 1000px;
    background: white;
    border: 4px solid skyblue;
    border-radius: 1%;
  }

  #content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }

  .content-header {
    text-align: center;
  }

  #inv-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  #inv-display > li {
    margin: 5px;
    flex: 30%;
  }

  .detail-view {
    display: flex;
  }
}